body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 40px;
}

h1 {
    text-align: center;
    color: #2F36E0;
}

h2 {
    text-align: center;
    color: #2FA6E0;
}

.about {

}

.skills {

}

.projects {

}

.contact {
    
}