body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: darkslategrey;
}

h1 {
    text-align: center;
    
}

h2 {
    text-align: center;
    color: #ffffff;
    background: darkslategrey;
}

a {
    text-decoration: none;
    color: purple;
}

.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }

.about p {
    width:50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

.about img {
    width: 150px;
    height: 200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
}
    
.skills {

}

.projects {
    display:flex;
    flex-wrap:wrap;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
}

.project img{
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201); /* choose a color */
    display: block;
    margin: auto;
}

.project p {
    text-align: center;
    margin: 15px;
}
    

.contact {
   background-color: darkslategrey;
}